.app {
  background-color: #282c34;
  height: 200px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.app__logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app__logo {
    animation: app-logo-spin infinite 20s linear;
    margin-right: 0.5rem;
  }
}

.app__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 18px;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.app__link {
  color: #61dafb;
  margin-right: 1rem;
}

.app__main {
  padding: 0 1.75rem;
  font-size: 18px;
  color: white;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
